hi everyone
<form action='form/say_hello_to_name' method='post'>
      <label for="Name" >Name</label>
      <input name="Name" type="TEXT" id="Name" required="required">
      <button type="submit">Submit</button>
</form>
