<form action="/users" method="post">
  <label for="first_name">First Name</label>
  <input name="first_name" type="TEXT" id="first_name">
  <br>
  <label for "last_name">Last Name</label>
  <input name="last_name" id="last_name" type="TEXT">
  <br>
  <label for "age">Age</label>
  <input name="age" id="age" type="TEXT">
  <br>
  <button type="submit">Save</button>
</form>

<%= link_to "All users", users_path %>